<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/rafli.jpg" alt="rafli salamudin" class="img-thumbnail rounded-circle" width="150" />
      <h1 class="display-4">Rafli Salamudin</h1>
      <p class="lead">Writer | Conten Creator</p>
    </div>
  </div>
</div>
